.custom-select {
    font-family: Ubuntu-Regular;
    display: inline-block;
    width: 30vw;
    margin-bottom: 1.5vh;
    height: 7.5vh;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1.29vmax;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background:#efefef url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#form_sort{
    position: absolute;
    top: 20vh;
   left: 40vw;
}

