@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    outline: 0 none;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
    display: block;
}

a,
a:hover,
button,
button:hover,
.anime,
.small_btn,
.btn:hover .small_btn {
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

button {
    cursor: pointer;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*Flex Framework*/
.main_flex {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.main_flex__nowrap {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.flex__jcontent_between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.flex__jcontent_start {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.flex__jcontent_end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.flex__jcontent_center {
    justify-content: center;
    -webkit-justify-content: center;
}

.flex__jcontent_around {
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.flex__auto {
    flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
}

.flex__align-items_start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.flex__align-items_end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.flex__align-items_baseline {
    align-items: baseline;
    -webkit-align-items: baseline;
}

.flex__align-items_stretch {
    align-items: stretch;
    -webkit-align-items: stretch;
}

.flex__align-items_center {
    align-items: center;
    -webkit-align-items: center;
}

.flex__align-content_flex-start {
    align-content: flex-start;
    -webkit-align-content: flex-start;
}

.flex__align-content_flex-end {
    align-content: flex-end;
    -webkit-align-content: flex-end;
}

.flex__align-content_space-between {
    align-content: space-between;
    -webkit-align-content: space-between;
}

.flex__align-content_center {
    align-content: center;
    -webkit-align-content: center;
}

.flex__align-content_space-around {
    align-content: space-around;
    -webkit-align-content: space-around;
}

.flex__align-content_stretch {
    align-content: stretch;
    -webkit-align-content: stretch;
}

.flex__flex-grow_01 {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.flex__flex-grow_02 {
    flex-grow: 2;
    -webkit-flex-grow: 2;
}

.flex__flex-grow_03 {
    flex-grow: 3;
    -webkit-flex-grow: 3;
}

.flex__flex-grow_04 {
    flex-grow: 4;
    -webkit-flex-grow: 4;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('../fonts/ubuntu/Ubuntu-Italic.ttf');

}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../fonts/ubuntu/Ubuntu-Light.ttf');

}

@font-face {
    font-family: 'Ubuntu-LightItalic';
    src: url('../fonts/ubuntu/Ubuntu-LightItalic.ttf');

}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/ubuntu/Ubuntu-Medium.ttf');

}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');

}


body {
    font-family: 'Ubuntu-Medium';
    background-color: #fff;
    font-size: 1.19vmax;
    line-height: 1.9vmax;
    color: #323232;



}

.wrap {
    width: 75vw;
    position: relative;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/arctic.jpg");
    padding-top: 7vh;
    padding-bottom: 8vh;
}



@media only screen and (min-width: 1025px) and (max-width: 1920px) {
    #menu {
        display: none;
    }

}

#top_header {
    height: 10vh;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#logo {
    width: 15vh;


}

#call {
    text-transform: uppercase;
   
    cursor: pointer;
    color: #949494;

}
#phone{
   color: #949494;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;

}
#banner_words{
 position: absolute;
 top: 23.13vh;
 left: 19.28;
 width: 61.5vw;
 height: 21vh;
 font-family: 'Ubuntu-Medium';
 font-size: 3.57vmax;
 color: #e7e7e9;
 text-transform: uppercase;
 

}
#design{
    position: absolute;
    top: 0vh;
    left: 0vw;
}
#web{
    position: absolute;
    top: 13vh;
    left: 28.17vw;
    color: #04B2D9;  
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
  


   
    
}
#life{
    position: absolute;
    top: 3.57vh;
    right: 3.10vw;
    /* padding-top: 3.57vh;
    padding-right: 3.10vw; */
    
}
#banner_tagline{
    
    font-size: 4.5vmax;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 65vh;
    left: 35.5vw;  
    width: 30vw;
    height: 17.05vh;

}

#is{
   
    margin-left: 1vw;   
    font-size: 7vmax;
    
}


#bottom header {
    width: 100%;
}

#bottom_header a {

    text-transform: uppercase;
    color: #fff;

}

#about {
    width: 100%;
    padding-top: 18vh;
    padding-bottom: 22vw;
}

#title_ubuntu_medium {
    font-family: 'Ubuntu-Bold';

}

.title_color {
    color: #00aaef;
    font-family: 'Ubuntu-Regular';
    font-weight: 700;

}

#title_about {
    width: 30vw;
}
#avatar{
    margin-top: 3.92vh;
    width: 21.03vw;
    height: auto;

}

#title_about h2 {
    font-family: 'Ubuntu-Light';
    font-style: normal;
    font-weight: lighter;
    font-size: 3.8vmax;
    line-height: 4.74vmax;
    text-transform: uppercase;
}

#text_about {
    width: 44vw;
    padding-right: 1.5vw;
    /*Таким образом мы делаем отступ
	с правой стороны нашего блока*/
}

#text_about ul {
    width: 30vw;
    margin: 6.5vh 0;

}

#text_about ul li {
    list-style: none;
    margin-bottom: 1.18vh;
    /*Интервал между пронумерованными
	строками списка*/
}

.dec_svg {
    fill: #00aaef;
    width: 1.58vw;
    margin: 0 0.79vw;

    /*Отступы от линий с двух сторон*/

}

.line {
    background-color: #00aaef;
    height: 0.26vh;
    width: 100%;
}


#gallery {
    background-color: #eee;
    padding: 0 0 14.3vh;
}

#gallery {
    background-color: #eee;
    padding: 0 0 14.3vh;
}

.title_gallery {
    margin: 0 auto 5.5vh;
    width: fit-content;
    position: relative;
    top: -2.6vh;

    /* Задали нашему родительскому
    блоку #gallery цвет фона и для того чтобы
    его сместить вниз мы задали загловку
    title_gallery - position: relative и высоту
    top: -2vh тем самым преподняв title над
    фоном #gallery*/

}

.title_gallery h2 {
    font-family: 'Ubuntu-Light';
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 3.8vmax;
    line-height: 2.84vw;
    letter-spacing: 0.316vw;
    margin-bottom: 2.22vh;
    color: #323232;

}

.box_img_gallery:odd {
    margin-right: auto;
    /*Сортировка четных элементов. В нашем случае фото 2, 4, 6
    смещаются в правую сторону */
}

.box_img_gallery img {
    height: 20.55vw;
    width: auto;

}

.name_gallery {
    font-size: 1.26vmax;
    font-weight: 700;
    margin-top: 1vh;
    margin-bottom: 4.31vh;
}

.name_gallery:nth-lastchild {
    margin-bottom: 0;
}

.blue_btn {
    background-color: #00aaef;
    color: #fff;
    text-transform: uppercase;
}

.btn {
    padding: 2.64vh 4.98vw;
    border: none;
    font-size: 1.11vmax;

}

#consultation {
    background-color: #fff;
}

#block_info {
    margin-top: 15.424vh;
     margin-bottom: 25vh; 
    height: 70vh;
}

#text_consultation {
    width: 36.36vw;
    font-family: 'Ubuntu-Regular';
    position: relative;
}

#text_consultation h2 {
    font-size: 2vmax;
    line-height: 2.84vmax;
    font-weight: 400;
    margin-bottom: 3.16vh;

}

#form_consultation,
#form_contacts {
    /*height: 33.98vh;*/
    width: 30vw;
}

#form_sort,
#form_post {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;

}

form input,
form button,
form textarea {
    width: 100%;
    background-color: #eee;
    border: none;
    padding-top: 2.64vh;
    padding-bottom: 2.64vh;
    margin-bottom: 1.56vh;
    font-size: 1.19vmax;
    color: #393939;
    text-align: center;
}

form textarea {
    padding-bottom: 17.64vh;
    text-transform: none;
    resize: none;
}

form button {
    margin-bottom: 0;
}

#testimonials {
    background-color: #eee;

}

#testimonials_block_info {
    /*padding: 0 1.58vw;*/
    margin-top: 4.70vh;
    margin-bottom: 16.33vh;
    height: 100%;
}

.info_of_pesonal {
    width: 23.71vw;
    height: 53.33vh;
    font-size: 1.264vmax;

}

.personal_img {
    margin: 0 auto;
    margin-top: 9.15vh;
    width: 11.857vmax;
}

.personal_img img {
    width: 100%;
    height: auto;
}

.personal_title {
    width: 100%;
    height: auto;
    text-align: center;
}

.personal_title h2 {
    margin-top: 0.02vh;
    font-family: 'Ubuntu-Bold';
    line-height: 1.739vmax;
    font-weight: 700;
}

.personal_title h3 {
    font-family: 'Ubuntu-Italic';
    font-weight: 400;
    font-style: italic;
    color: #696973;
}

.personal_text {
    margin: 0 auto;
    margin-top: 4.7vh;
    width: 100%;
    text-align: center;
}

#contacts {
    background-color: #fff;
    position: relative;
    height: auto;

    
    
}

#contact_info {
    padding-bottom: 13.46vh;
    padding-top: 15.29vh;
}

#contact_block {
    font-family: 'Ubuntu-Regular';
    font-size: 1.897vmax;
    line-height: 2.84vmax;
    font-weight: 400;
    text-align: left;
    width: 18.48vw;
    height: 30.84vh;

}

#phone_info,
#adress_info {
    margin-top: 5.49vh;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

}

footer {
    background-color: #fff;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70.58vh;
    padding-top: 23.32vh;
    padding-bottom: 9.15vh;

}

#footer_logo {
    width: 15vh;
}
#footer_text {
    /*margin-top: 16vh;*/
    font-size: 1.264vmax;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    color: #fff;
}
.fixedNav {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    opacity: 0.7;
    left: 0;
    background-color: #fff;
    color: #323232;
    z-index: 10;
    transition: 0.3s ease-in-out;
}

.fixedNav:hover {
    opacity: 0.8;
}

#bottom_header.fixedNav a {
    color: #323232;

}

#bottom_header.fixedNav nav {
    height: inherit;
    width: 75vw;
    margin: 0 auto;
}

#black_fill {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #323232;
    opacity: 0.8;
    
}

#modal_box {
    display: none;
    position: absolute;
    top: 20vh;
    width: 33vw;
    right: 10vw;
    z-index: 51;

}

#modal_popup {
    display: none;
    position: fixed;
    top: 20vh;
    width: 33vw;
    right: 10vw;
    z-index: 51;

}

#content_modal,
#content_popup {
    width: 100%;
    background-color: #fff;
    padding: 3%;

}

#close_modal {
    width: 2vw;
    height: 2vw;
    fill: #fff;
    position: absolute;
    top: -4vw;
    right: -4vw;
    cursor: pointer;

}

#content_popup {
    border: 1px solid #000;
    opacity: 0.9;
    text-align: center;
    border-radius: .36vmax;
}

#content_popup h2 {
    margin-bottom: 1vh;
    font-weight: 400;
    font-size: 1.36vmax;
}

#btn_popup {
    font-size: 1.5vh;
    padding: 1vh 5vh;
    border-radius: 3.36vmax;
}



/* only screen and (max-width: 320px),
only screen and (min-device-width: 768px) and 
(max-device-width: 1024px) */
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {

    body,
    .btn {

        font-size: 1.19vmax;
        line-height: 2.9vmax;
        /*Увеличим шрифт на мобильном*/
    }

    form input,
    form button,
    form textarea {
        font-size: 2.26vmax;
    }

    header {
        padding: 5vh 0;
        position: relative !important;
        animation: none;
       background-image: url(../images/header2.png);
    }

    #top_header {
        height: 90vh;
        flex-flow: column !important;

    }

    #logo {
        width: 23vh;
        transition: opacity 2s ease-in-out;
    }

    #footer_logo {
        width: 23vh;
    }

    #footer_text {
        font-size: 2.264vmax;
    }

    .dec_svg {
        width: 7vw;
    }

    .line {
        background-color: #00aaef;
        height: 0.16vh;
        width: 100%;
    }

    .title_gallery h2 {
        font-size: 6vh;
    }

    .title_gallery {
        top: -1.61vh;
    }

    .name_gallery {
        font-size: 3.5vw;
    }

    #menu_box {
        display: none;
        position: absolute;
        width: 33vw;
        color: #323232;
        top: 7vh;
        left: -0.5vw;
        z-index: 78;

    }

    #content_box {
        width: 100%;

        padding: 3%;
        z-index: 78;
    }

    #content_box a {
        color: #fff;
        text-transform: uppercase;
        font-size: 2vmax;
    }


    #content_box li {
        margin-bottom: 2.2vh;

    }

    #menu {
        width: 7vw;
        position: absolute;
        top: 5vh;
        left: 7vw;
        cursor: pointer;
        z-index: 77;

    }

    #menu img {
        cursor: pointer;
        width: 7vw;
        height: auto;
        /*Создаем анимация вращения для меню*/

        

    }

    #modal_box,
    #modal_popup {
        display: none;
        position: fixed;
        top: 30vh;
        width: 70vw;
        /*right: 15vw;*/
        left: calc(50% - 35.5vw);
        z-index: 51;
    }

    #modal_popup {

        top: 18vh;
        width: 87vw;
        /* right: 19vw; */
        left: calc(50% - 43.5vw);
        z-index: 51;
    }

    #content_popup h2 {
        font-size: 2.2vh;
        margin: 2 auto;
    }

    #close_modal {
        width: 6.5vw;
        height: 6.5vw;
        fill: #fff;
        position: absolute;
        top: -8vw;
        right: -8vw;
        cursor: pointer;

    }

    #btn_popup {
        font-size: 2.26vh;
        padding: 1.5vh 7vh;
        border-radius: 3.36vmax;
    }


    #bottom_header {
        display: none;
    }

    #about .wrap {
        flex-flow: column !important;
    }

    #about .wrap div {
        width: 100%;
    }

    #title_about h2 {
        text-align: left;
        margin-bottom: 5vh;
        margin-top: -12vh;
    }

    #view_all_gallery {
        padding: 2.64vh 25.98vw;
    }

    #text_about {
        width: 100%;
    }

    #text_about ul {
        width: 100%;
    }

    #text_about p {
        text-align: justify;
    }

    #consultation .wrap {
        flex-flow: column !important;

    }

    #consultation .wrap div {
        width: 100%;
    }


    #text_consultation h2 {
        margin-top: -12vh;
        font-size: 4.52vmax;
        line-height: 4.84vmax;
        text-align: center;
        font-weight: 400;
        margin-bottom: 3.16vh;
    }

    #text_consultation p {
        text-align: justify;
        margin-bottom: 3.16vh;
    }

    #block_info {
        height: 70vh;
        margin-top: 15.424vh;
        margin-bottom: 19.1vh;

    }

    #contact_info .wrap {
        flex-flow: column-reverse !important;
    }

    #contact_info .wrap div {
        width: 100%;
    }

    #contact_info {
        padding-bottom: 11.46vh;
        padding-top: 0.29vh;
    }

    #contact_block {
        font-family: 'Ubuntu-Regular';
        font-size: 2.897vmax;
        line-height: 3.84vmax;
        font-weight: 400;
        width: 18.48vw;
        height: 30.84vh;
        margin-top: 7vh;
        text-align: center;
    }

}